<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/styles.css">
    <style>
        body{
            background-image: url("../static/img/BG.png");
        }
    </style>
</head>
<body>
    <div class="index-container">
        <img src="../static/img/title1.png" alt="">
        <form action="play.html" class="index-form">
            <div class="players">
                <div class="players">
                    <div class="player">
                        <span class="player-label">P1</span>
                        <img src="../static/img/image1.png" alt="">
                        <input type="text" name="name" placeholder="Enter the name">
                    </div>
                    <div class="player">
                        <span class="player-label">P2</span>
                        <img src="../static/img/image2.png" alt="">
                        <input type="text" name="name" placeholder="Enter the name">
                    </div>
                </div>
            </div>
            <!-- img src="../static/img/confirm.png" alt="""-->
            <br>
            <input type="submit" value="Confirm" class="submit">
        </form>
    </div>
<script src="../static/js/index.js"></script>
</body>
</html>